/* PLUGINS */
/* BASE STYLES */
/* LAYOUTS */
.Footer {
  background-color: #222;
}
.Footer-top {
  padding: 80px 0;
  width: 1000px;
  margin: 0 auto;
}
.Footer-wrapBlock {
  display: flex;
}
.Footer .Block {
  flex-basis: 33.3%;
}
.Footer .Block-heading {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.Footer .Block-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px 0;
  color: #ffffff87;
  padding-left: 15px;
  list-style-type: none;
  padding: 0;
}
.Footer .Block-link-anchor {
  color: #ffffff87;
  font-size: 15px;
  text-decoration: none;
}
.Footer-bottom {
  background-color: #000;
  color: #ffffff8c;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
}

header {
  margin: 0 auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.primary-nav {
  width: 1440px;
  height: 35px;
  background: #f8f8f8;
  color: #bbbbbb;
  display: flex;
  justify-content: flex-end;
}
.primary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.primary-nav li {
  float: left;
}
.primary-nav li a {
  display: block;
  font-size: 14px;
  color: #bbbbbb;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.logo-wrapper a {
  display: block;
  margin: 10px 0;
  padding: 30px 0;
}

/* MODULES */
nav {
  background: #000;
  text-align: center;
}
nav a {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Hero {
  background: url("../assets/hero.jpg") no-repeat center;
  background-size: cover;
  height: 70vh;
  text-align: center;
  color: #fff;
}
.Hero-image {
  padding-top: 40px;
  margin-bottom: 20px;
}
.Hero-heading {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 20px;
}
.Hero-subheading {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 30px;
}
.Hero-cta {
  background: #2fbe15;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 16px;
}

.Features {
  background: #ffffff;
}
.Features-heading {
  margin: 100px auto 50px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #222222;
  max-width: 700px;
  position: relative;
}
.Features-heading:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #eeeeee;
  left: 0;
  top: 50%;
  position: absolute;
}
.Features-heading:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #eeeeee;
  right: 0;
  top: 50%;
  position: absolute;
}

.Tabs-box {
  padding: 40px 0;
}
.Tabs-box h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1b1b1b;
  margin-bottom: 15px;
}
.Tabs-box p {
  font-size: 15px;
  font-weight: 300;
}
.Tabs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.Tabs-list li {
  display: inline;
  color: #4285f4;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 20px;
  pointer-bottom: 5px;
  cursor: pointer;
}
.Tabs-list li.active {
  color: #1b1b1b;
  border-bottom: 2px solid #2385e8;
}
.Tabs-container {
  margin: 0 auto;
  text-align: left;
  width: 1000px;
}
.Tabs-content {
  display: none;
}
.Tabs-content article {
  display: flex;
}
.Tabs-content figure {
  flex: 1;
}
.Tabs-block {
  margin-top: 100px;
}

.Plans {
  background: #f8f8f8;
}
.Plans-heading {
  margin: 100px auto 50px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #222222;
  max-width: 700px;
  position: relative;
}
.Plans-heading:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #eeeeee;
  left: 0;
  top: 50%;
  position: absolute;
}
.Plans-heading:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #eeeeee;
  right: 0;
  top: 50%;
  position: absolute;
}

.FAQs {
  background: #ffffff;
  width: 1000px;
  margin: 0 auto;
}
.FAQs-heading {
  margin: 100px auto 50px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #222222;
  max-width: 700px;
  position: relative;
}
.FAQs-heading:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #eeeeee;
  left: 0;
  top: 50%;
  position: absolute;
}
.FAQs-heading:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #eeeeee;
  right: 0;
  top: 50%;
  position: absolute;
}
.FAQs-content {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin-bottom: 100px;
}
.FAQs-ans {
  background: #fff;
  font-weight: 100;
  padding: 15px 20px 14px 20px;
  border-bottom: 1px solid #d3d3d3;
}

details > summary {
  list-style: none;
  background: #f9f9f9;
  border-bottom: 1px solid #d3d3d3;
  display: block;
  color: #1b1b1b;
  padding: 15px 20px 14px 20px;
  position: relative;
}

details {
  background: #ffffff;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: " +";
  position: absolute;
  right: 20px;
  transform: rotate(0);
}

details[open] summary:after {
  content: " -";
}

* {
  box-sizing: border-box;
  font-family: "proxima_nova", Arial, sans-serif;
}

/*# sourceMappingURL=app.css.map */
