header  
    margin: 0 auto

.primary
    &-nav
        height: 35px
        background: #f8f8f8
        color: #bbbbbb
        display: flex
        justify-content: flex-end
    &-wrapper
        margin: 0 auto
        width: 1000px
        display: flex
        justify-content: flex-end

    &-nav figure
        display: inline-block
    &-nav ul
        list-style-type: none
        margin: 0
        padding: 0
        overflow: hidden
    &-nav li
        float: left
    &-nav li a
        display: block
        font-size: 14px
        color: #788698
        text-align: center
        padding: 8px 17px
        text-decoration: none
        border-right: 1px solid #dde3e9

.logo-wrapper
    a
        display: block
        margin: 10px 0
        padding: 32px 0


.cart-num
    color: #000
    position: relative
    left: -12px
    top: -13px
.Login
    display: inline
.carrot
    margin-top: 5px
.Cart
    display: inline
    