header  
    margin: 0 auto

.primary-nav
    width: 1440px
    height: 35px
    background: #f8f8f8
    color: #bbbbbb
    display: flex
    justify-content: flex-end

    figure
        display: inline-block
    ul
        list-style-type: none
        margin: 0
        padding: 0
        overflow: hidden
    li
        float: left
    li a
        display: block
        font-size: 14px
        color: #bbbbbb
        text-align: center
        padding: 8px 10px
        text-decoration: none

.logo-wrapper
    a
        display: block
        margin: 10px 0
        padding: 32px 0


.cart-num
    color: #000
    position: relative
    left: -12px
    top: -13px
.Login
    display: inline
.Cart
    display: inline
    