.Hero
    background: url("../assets/hero.jpg") no-repeat center
    background-size: cover
    height: 70vh
    text-align: center
    color: #fff

    &-image
        padding-top: 40px
        margin-bottom: 20px

    &-heading
        font-size: 38px
        font-weight: 800
        margin-bottom: 20px

    &-subheading
        font-size: 20px
        font-weight: 200
        margin-bottom: 30px
    &-cta 
        background: #2fbe15
        color: #fff
        font-weight: 100
        text-decoration: none
        padding: 10px 30px
        font-size: 16px

