.Hero
    background: url("../assets/hero.jpg") no-repeat center
    background-size: cover
    height: 620px
    text-align: center
    color: #fff

    &-image
        padding-top: 40px
        margin-bottom: 10px

    &-heading
        font-size: 26px
        font-weight: 800
        margin-bottom: 18px

    &-subheading
        font-size: 20px
        font-weight: 200
        margin-bottom: 48px
    &-cta 
        background: #2fbe15
        color: #fff
        font-weight: 100
        text-decoration: none
        padding: 10px 30px
        font-size: 16px
        border-radius: 4px
    &-cta:hover
     background: #28a745
