nav
    background: #000
    text-align: center
    
    a
        font-size: 15px
        font-family: 'Montserrat', Arial, sans-serif
        font-weight: 500
        color: #fff
        padding: 16px 9px
        display: inline-block
        text-align: center
        text-decoration: none
        text-transform: uppercase
    a:hover
        color: #333
        background: #fff

.nav-wrapper
    margin: 0 auto
    width: 1000px
.new-tag
    background: #aa1414
    border-radius: 16px
    position: relative
    color: #fff
    font-weight: 100
    font-size: 8px
    padding: 2px 5px
    top: -8px

.selected
    background: #5a6472