nav
    background: #000
    text-align: center
    
    a
        font-family: 'Montserrat', Arial, sans-serif
        font-weight: 500
        color: #fff
        padding: 16px 20px
        display: inline-block
        text-align: center
        text-decoration: none
        text-transform: uppercase

.new-tag
    background: #aa1414
    border-radius: 16px
    position: relative
    color: #fff
    font-weight: 100
    font-size: 8px
    padding: 2px 5px
    top: -8px